<div class="container">
    <h2>Informe os dados requeridos para cadastrar um novo versículo</h2>
    <div class="form-container mb-3">
        <label for="exampleFormControlInput1" 
        class="form-label">Texto Sagrado</label>
        <input type="text" 
        class="form-control" 
        id="exampleFormControlInput1" 
        placeholder="Digite o texto que deseja decorar"
        required>
      </div>
      <div class="form-container mb-3">
        <label for="exampleFormControlInput1" 
        class="form-label">Nome do Livro</label>
        <input type="text" 
        class="form-control" 
        id="exampleFormControlInput1" 
        placeholder="Digite o nome do livro bíblico"
        required>
      </div>
      <div class="form-container mb-3">
        <label for="exampleFormControlInput1" 
        class="form-label">Capítulo</label>
        <input type="number" 
        class="form-control" 
        id="exampleFormControlInput1" 
        placeholder="Digite o número do capítulo"
        required>
      </div>
      <div class="form-container mb-3">
        <label for="exampleFormControlInput1" 
        class="form-label">Versículo</label>
        <input type="number" 
        class="form-control" 
        id="exampleFormControlInput1" 
        placeholder="Digite o número do versículo"
        required>
      </div>
      <div class="form-container mb-3">
        <label for="exampleFormControlInput1" 
        class="form-label">Testamento</label>
        <input type="text" 
        class="form-control" 
        id="exampleFormControlInput1" 
        placeholder="Digite o testamento do texto"
        required>
      </div>
      <button type="button" class="btn btn-success">Salvar</button>
</div>