<table class="table table-bordered table-success table-striped">
  <thead>
    <tr>
      <th scope="col">Ordem</th>
      <th scope="col">Texto Sagrado</th>
      <th scope="col">Nome de Livro</th>
      <th scope="col">Capítulo</th>
      <th scope="col">Versículo</th>
      <th scope="col">Testamento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let textHolyBible of Verses">
      <th scope="row">{{textHolyBible.id}}</th>
      <th scope="row">{{textHolyBible.text}}</th>
      <th scope="row">{{textHolyBible.book}}</th>
      <th scope="row">{{textHolyBible.chapter}}</th>
      <th scope="row">{{textHolyBible.verse}}</th>
      <th scope="row">{{textHolyBible.testament}}</th>
    </tr>
  </tbody>
</table>
